@import url('reusables.css');

gamepad-visualizer {
    display: block !important;
    width: fit-content !important;
    height: fit-content !important;
    padding: 8pt !important;
    text-align: center !important;
}

#bigvis {
    border: 2pt solid #000;
    border-radius: 8pt;
}